.figura{
    border: 1px solid black;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
}
.figura h3{
    text-align: center;
    font-size: 25px;
}
.inp{
    border: 1px solid black;
    padding: 12px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.button2{
    background-color: blue;
    padding: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}